{%extends "layout.html"%}
{%block content%}
<h1>Tasks</h1>
<p>Manage your tasks efficiently!</p>
<ul>
    {% for task in tasks %}
        <li>
            <strong>{{ task.title }}
            </strong><br>
            {{ task.description }}
            <br>
            {% if task.completed %}
                <span>Status: Completed</span>
            {% else %}
                <span>Status: Incompleted</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<!--Displays task from the database-->
{%endblock%}