{% extends "layout.html" %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">404 - Page Not Found</h1>
    <p class="lead mt-3">
        Oops! It seems like the page you're looking for doesn't exist or has been moved.
    </p>
    <hr class="my-4">
    <p>
        Here are some options to help you get back on track:
    </p>
    <ul class="list-unstyled mt-3">
        <li>🔗 <a href="{{ url_for('tasks') }}">Go to your Task Dashboard</a></li>
        <li>🏠 <a href="{{ url_for('home') }}">Return to the Homepage</a></li>
        <li>📬 <a href="mailto:akohtech@gmail.com">Contact Support</a></li>
    </ul>
    <a class="btn btn-primary btn-lg mt-4" href="{{ url_for('home') }}" role="button">Back to Home</a>
</div>
{% endblock %}
