{% extends "layout.html" %}

{% block content %}
<h1>About Task Management App</h1>
<p>This is a simple and clean task management app built to help you stay on top of your to-do list without the clutter. Whether you’re juggling school, work, or personal projects, this app lets you create tasks, set priorities, and mark things done—so you can feel more organized and less stressed.</p>
<p>It’s responsive, easy to use, and built with modern tech to work on any device. Perfect for anyone who wants to stop forgetting things and start getting stuff done 💪.</p>
<p>We are constantly working on improving the app and adding new features based on user feedback.</p>
<github>If you have any suggestions or feedback, please feel free to reach out to us.<br>
    📬 Contact Me
    📧 akohtech@gmail.com
    🌐 <github class="com">
    <AkohMicheal></AkohMicheal> | LinkedIn @www.linkedin.com/in/micheal-akoh| X @AkohMicheal</github>
{% endblock %}