{% extends "layout.html" %}

{% block content %}
<h1>About Task Management App</h1>
<p>This app is designed to help users manage their tasks efficiently. It provides features like task creation, editing, and completion tracking.</p>
<p>Our goal is to provide a simple and effective way for users to keep track of their tasks and improve their productivity.</p>
<p>We are constantly working on improving the app and adding new features based on user feedback.</p>
<p>Developed by AkohTech Cor. 2025.</p>
{% endblock %}